<div class="center main">

  <div class='tableauPlaceholder' id='viz1519190451462' style='position: relative'>
    <noscript>
      <a href='#'><img alt='A Community of Contrasts: Asian Americans, Native Hawaiians and Pacific Islanders in the San Gabriel Valley ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;SG&#47;SGVReport&#47;Story1&#47;1_rss.png' style='border: none' /></a>
    </noscript>

    <object class='tableauViz'  style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name' value='SGVReport&#47;Story1' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='yes' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;SG&#47;SGVReport&#47;Story1&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
    </object>
  </div>

  <div class="links">
    <p>To view other reports in the Community of Contrasts Series, click <a href="https://advancingjustice-la.org/what-we-do/policy-and-research/demographic-research">here</a>.</p>
    <h4>Downloads</h4>
    <p>SGV 2018 Report: <a href="https://advancingjustice-la.org/sites/default/files/A_Community_of_Contrasts_SGV_2018.pdf">View</a> | <a href="https://advancingjustice-la.org/sites/default/files/A_Community_of_Contrasts_SGV_2018.pdf" download>Download (1.3 MB)</a><br>
    SGV 2018 Report Launch Presentation: <a href="https://advancingjustice-la.org/sites/default/files/SGV_PRESENTATION.pdf">View</a> | <a href="https://advancingjustice-la.org/sites/default/files/SGV_PRESENTATION.pdf" download>Download (1.8 MB)</a><br>
    Press Release: <a href="https://advancingjustice-la.org/sites/default/files/SGV_2018_PR.pdf">View</a> | <a href="https://advancingjustice-la.org/sites/default/files/SGV_2018_PR.pdf" download>Download (252 KB)</a><br>
    Infographics (click to enlarge): <br><a href="https://advancingjustice-la.org/sites/default/files/Population.jpg" target="_blank"><%= image_tag("Population.jpg", width: '200') %></a>&nbsp;<a href="https://advancingjustice-la.org/sites/default/files/AARP_FINAL.jpg" target="_blank"><%= image_tag("AARP_FINAL.jpg", width: '200') %></a>&nbsp;<a href="https://advancingjustice-la.org/sites/default/files/EJ.jpg" target="_blank"><%= image_tag("EJ.jpg", width: '200') %></a>&nbsp;<a href="https://advancingjustice-la.org/sites/default/files/Employment.jpg" target="_blank"><%= image_tag("Employment.jpg", width: '200') %></a>&nbsp;<a href="https://advancingjustice-la.org/sites/default/files/HOUSING.jpg" target="_blank"><%= image_tag("HOUSING.jpg", width: '200') %></a>
    </p>
    <h4>Press Coverage</h4>
    <p><a href="http://www.latimes.com/local/lanow/la-me-asians-sgv-data-20180221-story.html
    " target="_blank">Los Angeles Times</a><br>
    <a href="https://www.scpr.org/news/2018/02/21/80976/report-on-sgv-s-asian-americans-shows-two-thirds-a/" target="_blank">KPCC</a><br>
    <a href="https://psmag.com/social-justice/asian-americans-are-not-your-model-minority" target="_blank">Pacific Standard Magazine</a><br>
    <a href="https://www.alhambrasource.org/story/report-illuminates-the-contributions-and-challenges-of-asian-americans-in-the-san-gabriel-valley" target="_blank">Alhambra Source</a></p>
    <h6>We would like to thank the sponsors who made this report possible, including Bank of America, AARP, and the Wallace H. Coulter Foundation.</h6>
      <%= image_tag("BoA.jpg", width: '200') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("AARP.png", width: '200') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("Coulter.png", width: '150') %></p>
  </div>

  <script type='text/javascript'>
    var divElement = document.getElementById('viz1519190451462');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width='1050px';vizElement.style.height='1027px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
  </script>

</div>
