<!DOCTYPE html>
<html>
<head>
  <title>SGV 2018 Report</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta charset="utf-8"> -->
  <link rel="shortcut icon" href="https://advancingjustice-la.org/sites/default/files/favicon_0.ico" type="image/vnd.microsoft.icon">

</head>


<body>

<!-- NAVBAR START -->
  <div class="top-nav">
    <div class="col-12 col-md-10 offset-md-1">

      <div class="float-left">
        <a href="#">
          <%= image_tag("logo-la.png", class: "nav-logo") %>
        </a>
      </div>

      <div class="float-right">
        <h1 class="nav-title">A Community of Contrasts</h1>
      </div>

    </div>
  </div>
  <br class="clear-fix" />
<!-- NAVBAR END -->



  <%= yield %>
</body>


</html>
